@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto';
}

/* fonts */
.font-pacifico{
    font-family: 'Pacifico';
}

.font-roboto{
    font-family: 'Roboto';
}
